@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none;
  background-color: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html,
body {
  min-height: 100vh;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  font-size: 1.4rem;
  height: 100vh;
}

:root {
  --primary-gradient: linear-gradient(
    180deg,
    #0575e6 0%,
    #02298a 84.79%,
    #021b79 100%
  );
  --primary-color: #0575e6;
  --secondary-color: #0553a3;
  --white: #ffffff;
  --light: #eeeeee;
  --grey: #bbb;
  --grey-01: #757575;
  --dark: #333333;
}

@media (max-width: 1040px) {
  main {
    flex-direction: column;
  }

  .introduction {
    clip-path: polygon(0 0, 57% 0, 100% 0, 100% 67%, 0 100%, 33% 100%, 0 100%);
    min-width: 100%;
    min-height: 20rem;
    padding-left: 2.7rem;
  }

  .introduction a,
  figure {
    display: none;
  }

  .wrapper-introduction {
    gap: 0.5rem;
  }

  .record {
    max-width: 100%;
    align-items: center;
    padding-top: 1rem;
  }

  .record .wrapper-info-record {
    width: 30rem;
    align-items: flex-start;
  }

  .record .form .return {
    padding: 1rem 0;
  }
}
